.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  overflow: hidden !important;

  .top-half {
    width: 100%;
    height: 50vh;
    background-color: #161616;
  }

  .bottom-half {
    width: 100%;
    height: 50vh;
    background-color: #161616;
  }
}

.pace {
  width: 100%;
  height: 1px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  z-index: 105;
  position: absolute;
  top: 50%;
  overflow: hidden;
}

.pace-progress {
  height: 100%;
  position: absolute;
  top: 0;
  background-color: gray;
  z-index: 2;
  display: block;
  right: 100%;
  width: 100%;
}
