.hero-section {
  .hero-wrapper {
    width: 70vw;
    height: 100vh;
    margin: auto;
    margin-top: 20vh;

    h1 {
      font-size: clamp(3em, 8vw, 200px);
      // font-family: "NewYork";
      font-weight: normal;
    }

    .hero-image {
      object-fit: cover;
      height: 500px;
      width: 400px;
      // display: none;
      position: absolute;
      right: 10%;
      top: 30%;
    }
  }
}

@media only screen and (max-width: 560px) {
  .hero-section {
    .hero-wrapper {
      width: 80%;

      .hero-image {
        bottom: 0%;

        // top: 30%;
        // display: none;
      }
    }
  }
}

@media only screen and (min-height: 800px) and (max-height: 1300px) {
  .hero-section {
    .hero-wrapper {
      width: 80%;

      .hero-image {
        top: 25%;
        bottom: unset;
        // display: none;

        // top: 30%;
        // display: none;
      }
    }
  }
}

.about-section {
  height: fit-content;
  width: 70vw;
  margin: auto;
  // background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .about-favour {
    .line {
      width: 0;
      height: 2px;
      background-color: black;
    }

    h2 {
      font-size: clamp(2em, 3vw, 200px);
      font-weight: normal;
    }

    p {
      span {
        color: #ff2400;

        a {
          color: inherit;
          text-decoration: none;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(10deg);
          height: 0;
          transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:hover {
          img {
            height: 350px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .about-section {
    width: 80vw;
    height: fit-content;
    grid-template-columns: 1fr;
  }
}

.projects-section {
  height: fit-content;
  width: 70vw;
  margin: 20vh auto;

  h2 {
    font-size: clamp(1.7em, 2vw, 200px);
    position: relative;
    text-align: center;
    font-family: "NewYork";

    span {
      position: relative;
      font-family: "NewYork";

      .selected-word {
        // background-color: green;
        position: relative;
      }

      svg {
        transform: scale(0.9);
        position: absolute;
        left: -10%;
      }
    }
  }

  .projects-wrapper {
    // background-color: red;

    .project {
      margin: 5vh 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      cursor: pointer;

      &:hover .project-preview {
        transform: scale(1.1);
      
      }

      .project-preview {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: all .3s;
        filter: brightness(90%) contrast(50%);
      }
      &:nth-of-type(odd) {
        .project-info {
          // background-color: red;
          text-align: center;
          height: fit-content;
          margin: auto 0;
          transform: translateX(-50%);

          h3 {
            font-size: clamp(3em, 5vw, 200px);
            margin-bottom: -3%;
            font-weight: normal;
          }
        }
      }

      &:nth-of-type(even) {
        .project-info {
          // background-color: red;
          text-align: center;
          height: fit-content;
          margin: auto 0;
          transform: translateX(50%);
          z-index: 44;

          h3 {
            font-size: clamp(3em, 5vw, 200px);
            margin-bottom: -3%;
            font-weight: normal;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .projects-section {
    width: 80vw;
    height: fit-content;
    // background-color: red;

    h2 {
      font-size: clamp(1.5em, 2vw, 200px);
      margin-bottom: 10vh;
    }

    .projects-wrapper {
      // background-color: red;

      .project {
        grid-template-columns: 1fr;

        .project-preview {
          order: 1;
          // transform: skewY(5deg);
        }

        .project-info {
          // background-color: red;
          margin-top: 0;
          // background-color: red;
          margin-top: -20%;
          order: 2;
          transform: translateX(0%) !important;
        }
      }
    }
  }
}
